<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbStrategy</param-name>
        <param-value>edu.wctc.mpatel.bookwebapp1.model.MySqlDb</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>jdbc/book2</param-value>
    </context-param>
    <context-param>
        <param-name>AuthorController</param-name>
        <param-value>edu.wctc.mpatel.bookwebapp1.controller.AuthorController</param-value>
    </context-param>
    <context-param>
        <param-name>authorDao</param-name>
        <param-value>edu.wctc.mpatel.bookwebapp1.model.ConnPoolAuthorDao</param-value>
    </context-param>
    <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/book2</param-value>
    </context-param>
    <context-param>
        <param-name>userName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>admin</param-value>
    </context-param>
    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>edu.wctc.mpatel.bookwebapp1.controller.AuthorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/AuthorController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
